Source: coquille
Section: math
Priority: extra
Maintainer: Yann <yann.hourdel@ens-lyon.org>
Build-Depends:
 debhelper (>= 7)
Homepage: http://graal.ens-lyon.fr/coquille/

Package: coquille
Architecture: any
Depends:
 ${math:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Description: An IDE for Coq Proof Assitant Language
 This is an IDE for editing and interpreting files in Coq language.
